@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  user-select: none;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: white;
  overflow: hidden;
}

.gradient-border {
  background: linear-gradient(to right, red, purple);
  padding: 5px;
  border-radius: 22px;
}

.clock {
  display: flex;
  text-align: center;
  position: relative;
  background-color: #1e1e1e;
  height: 146px;
  width: 100%;
  font-size: 40px;
  padding: 14px 20px;
  border-radius: 18px;
  color: #5a5a5a46;
  line-height: 120px;
}

.active {
  font-size: 110px;
  color: white !important;
}

.clock p {
  width: 73px;
  transition: all 400ms linear;
}

.timer {
  transition: margin-top 200ms linear;
}

.colon {
  width: 60px;
  font-size: 100px;
  color: white;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .clock {
    height: 70px;
    font-size: 25px;
    line-height: 60px;
    padding: 5px 13px;
    border-radius: 13px;
  }
  .active {
    font-size: 45px;
  }
  .clock p {
    width: 35px;
  }
  .gradiant-border {
    padding: 4px;
    border-radius: 14px;
    margin: 0 10px;
  }
  .colon {
    width: 30px;
    font-size: 50px;
  }
}
